%ul.breadcrumb
  %li
    = link_to 'Profile', '#profile'
    %span.divider /
  %li
    = link_to 'Account', '#account'
    %span.divider /
  %li
    = link_to 'Social connections', '#connections'
    %span.divider /
  %li
    = link_to 'Cancel account', '#cancel-account'