%ul.breadcrumb
  %li
    = link_to '#profile' do
      Profile
      &#8595;
    %span.divider /
  %li
    = link_to '#account' do
      Account
      &#8595;
    %span.divider /
  %li
    = link_to '#connections' do
      Social connections
      &#8595;
    %span.divider /
  %li
    = link_to '#cancel-account' do
      Cancel account
      &#8595;